*{
    margin:0px;
    padding:0px;
   
}
.navbar{
  
    width:100%;
    height:122px;
    background-color:#00CED1;
    border-bottom:1px solid white;
    position:fixed;
    z-index:1;


}
.navibar-image img{
    width:84.7px;
    height:75.14px;
    position: absolute;
    left:30px;
    top:18px;
    margin:0px;
}

.navibar-text{
    font-weight:500;
    font-size:19px;
    color:white;
        display: flex;
    gap: 36px;
    position: absolute;
    left: 780px;
    top:50px;
    font-family:'Montserrat', 'Roboto Condensed', sans-serif;
}
.product:hover{
    text-decoration:underline;
  cursor:pointer;
}
.recipes:hover{
  text-decoration:underline;
  cursor:pointer;
}
.stores:hover{
  text-decoration:underline;
  cursor:pointer;
}

.bar2 img{
    width:100%;
    height:728.76;
    margin:0px;
}
.bar2 {
    position:relative;
}
.bar2-text{
 font-size: 80px; 
 font-family: 'Montserrat';
 font-weight:900; 
 color:white; 
}
.bar2-text1{
    position:absolute; 
      top: 233px;
    left: 73px;
}
.bar2-text2{
  position:absolute; 
       top: 300px;
    left: 76px; 
}
.icons img{
       width: 31.99px;
    height: 28.86px;
}
.icons{
    position:absolute;
  top: 49px;
    right: 30px;
}
.bar2-button{
      width: 157px;
    height: 37px;
    position:absolute;
        top: 435px;
    left: 70px;
    border:2px solid white;
    border-radius:30px;
    background-color: transparent;
    font-size:17px;
    font-weight:600;
    color:white;
}
.bar3-image{
    margin-top:-4px;
    margin-bottom:-4px;
}
.bar3-image img{
    width:100%;
    height:728.76px;
}
.bar3{
position:relative;
}
.bar3-backgroundgreen{
        width: 640px;
    height: 192px;
    background-color: rgb(0, 84, 0);
    position: absolute;
    top: 283px;
    left: 385px;
    border-radius: 93px;
    opacity: 0.8;
}

.heading{
    color:white;
      font-size: 36px;
    font-weight: 500;
    position: absolute;
    top: 299px;
    left: 625px;
    font-family:Arial, Helvetica, sans-serif;
}
.content{
  position: absolute;
    top: 360px;
    left: 509px;
    font-weight: 500;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.bar3-button{
    position:absolute;
  top: 411px;
    left: 616px;
    border:2px solid white;
    border-radius:30px;
    background-color: transparent;
    font-size:17px;
    font-weight:600;
    color:white;
     width: 157px;
    height: 37px;
}
.bar4{
    position:relative;
}
.bar4-image img{
    width:100%;
    height:728.71px;
    
}
.bar4-backgroundgreen{
    width: 640px;
    height: 192px;
    background-color: rgb(0, 84, 0);
    position: absolute;
    top: 283px;
    left: 385px;
    border-radius: 93px;
    opacity: 0.8;
}
.heading2{
    color:white;
      font-size: 36px;
    font-weight: 500;
    position: absolute;
    top: 299px;
    left: 568px;
    font-family:Arial, Helvetica, sans-serif; 
}
.content2{
    position: absolute;
    top: 360px;
    left: 454px;
    font-weight: 500;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px; 
}
.bar4-button{
     position:absolute;
  top: 411px;
    left: 616px;
    border:2px solid white;
    border-radius:30px;
    background-color: transparent;
    font-size:17px;
    font-weight:600;
    color:white;
     width: 157px;
    height: 37px;
}
.footer{
    position:relative;
    width:100%;
    height:140px;
    background-color:#3E3E3E;
    margin-top:-5px;
}  
.bar4{
    margin-bottom:-4px;
    position:relative;
}
.paragraph1-footer{
    display:flex;
    justify-content: center;
   font-family:Arial, Helvetica, sans-serif ;
    color:white;
  
    gap:10px;
    font-weight:500;
    padding-top:20px;
    font-size:12px
}
.paragraph2-footer{
    display:flex;
    justify-content: center;
   font-family:Arial, Helvetica, sans-serif ;
    color:white;
    font-weight:500;
    margin-top:23px;
    font-size:12px
}
.foot1:hover{
text-decoration:underline;
}
.foot2:hover{
text-decoration:underline;
}
.foot3:hover{
text-decoration:underline;
}
.foot4:hover{
text-decoration:underline;
}
.foot5:hover{
text-decoration:underline;
}
.foot6:hover{
text-decoration:underline;
}
.foot7:hover{
text-decoration:underline;
}
